@import url("default.css");
@import url("CharisSIL-webfont.css");




/*
i { font-size: 200%; }

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body {
    font-family: "Roboto Slab";
}

@font-face {
    font-family: "Roboto Slab";
    src: url("./RobotoSlab-Regular.ttf");
}

body{
    font-family:"Arial", Helvetica, sans-serif;
}

*/
